./.ipynb_checkpoints

.ipynb_checkpoints

ipynb_checkpoints/*.ipynb

.ipynb_checkpoints/UBCS3.2 (14 October 2016)-checkpoint.ipynb

.ipynb_checkpoints/UBCS3.3 (21 October 2016)-checkpoint.ipynb

.ipynb_checkpoints/UBCS3.2 (14 October 2016)-checkpoint.ipynb

.ipynb_checkpoints/UBCS3.2 (14 October 2016)-checkpoint.ipynb

.ipynb_checkpoints/*

Gradient\ Descent\ \(master\).pdf
